# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [68]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
#?
import json
#gmaps.configure(api_key="AIzaSyCmwkQZ4rhF2P3L9quHyUe2CHu0aYK2_M0")


filepath = "weatherpy.csv" 

weather_data = pd.read_csv(filepath)

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [69]:

 # Configure gmaps with API key
gmaps.configure(api_key=g_key)

weather_data.head()

weather_data.describe()

,Unnamed: 0,Lat,Lng,Temp,Humidity,Wind Speed,Cloudiness
count,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000
mean,241.000000,22.134182,18.309814,57.274534,74.142857,7.868592,55.925466
std,139.574353,34.200870,89.439440,21.500918,20.110233,5.854433,38.238098
min,0.000000,-54.800000,-179.170000,3.060000,11.000000,0.270000,0.000000
25%,120.500000,-6.125000,-57.660000,42.800000,64.000000,3.360000,14.500000
50%,241.000000,28.100000,19.230000,61.480000,78.000000,6.530000,73.000000
75%,361.500000,50.765000,98.965000,76.810000,90.000000,10.335000,90.000000
max,482.000000,78.220000,179.320000,95.000000,100.000000,53.020000,100.000000

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [70]:
# Store 'Lat' and 'Lng' into  locations 
weather_cleaned = weather_data.dropna()
locations = weather_cleaned[["Lat", "Lng"]].astype(float)
humidity = weather_cleaned["Humidity"].astype(float)

# Convert humidity to float and store
# HINT: be sure to handle NaN values


fig = gmaps.figure()



heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
#narrow down criteria
'''
  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions.
'''
#math_pass_count = school_data_complete.loc[(school_data_complete["math_score"]>=70),"math_score"].count()
best_locations = weather_cleaned.loc[(weather_cleaned["Temp"]>= 70)  & 
                                     (weather_cleaned["Temp"]<= 80)  &
                                     (weather_cleaned["Wind Speed"]<=5) &
                                     (weather_cleaned["Cloudiness"]==0)]
                                     
                                     
                                     # &
                                   #  (weather_cleaned["Humidity"]<=50)]



#overall_pass_count = school_data_complete.loc[(school_data_complete["reading_score"]>=70) & 
                                           #   (school_data_complete["math_score"]>=70),"math_score"].count()
    
best_locations

,Unnamed: 0,City,Country,Lat,Lng,Temp,Humidity,Wind Speed,Cloudiness
66,66,altamira,BR,-3.20,-52.21,77.18,73,1.97,0
108,108,saint-philippe,RE,-21.36,55.77,70.48,61,3.36,0
182,182,bonthe,SL,7.53,-12.51,77.83,84,3.76,0
287,287,manacapuru,BR,-3.30,-60.62,77.00,88,3.36,0
310,310,odweyne,SO,9.41,45.06,75.87,24,3.89,0
444,444,ormara,PK,25.21,64.64,79.32,31,3.74,0

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [72]:
# Add marker layer ontop of heat map
# Create a  Heatmap layer
fig = gmaps.figure()

locations = best_locations[["Lat", "Lng"]].astype(float)
humidity = best_locations["Humidity"].astype(float)


heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

# Display figure

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [75]:
hotel_df = best_locations.loc[:,["City","Country","Lat","Lng"]]

hotel_df["Hotel Name"]=""

max_distance = 5000

hotel_df

               City Country    Lat    Lng Hotel Name
66         altamira      BR  -3.20 -52.21
108  saint-philippe      RE -21.36  55.77
182          bonthe      SL   7.53 -12.51
287      manacapuru      BR  -3.30 -60.62
310         odweyne      SO   9.41  45.06
444          ormara      PK  25.21  64.64

In [76]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Error.")

Retrieving Results for Index 66: altamira.
Closest hotel in altamira is Hotel Xingu.
------------
Retrieving Results for Index 108: saint-philippe.
Closest hotel in saint-philippe is Les Embruns Du Baril.
------------
Retrieving Results for Index 182: bonthe.
Closest hotel in bonthe is Bonthe Holiday Village.
------------
Retrieving Results for Index 287: manacapuru.
Closest hotel in manacapuru is Hotel Amazon Experience.
------------
Retrieving Results for Index 310: odweyne.
Closest hotel in odweyne is Al shukri hotel.
------------
Retrieving Results for Index 444: ormara.
Closest hotel in ormara is Alqadri hotel zero point ormara.
------------

In [77]:
hotel_df

               City Country    Lat    Lng                       Hotel Name
66         altamira      BR  -3.20 -52.21                      Hotel Xingu
108  saint-philippe      RE -21.36  55.77             Les Embruns Du Baril
182          bonthe      SL   7.53 -12.51           Bonthe Holiday Village
287      manacapuru      BR  -3.30 -60.62          Hotel Amazon Experience
310         odweyne      SO   9.41  45.06                  Al shukri hotel
444          ormara      PK  25.21  64.64  Alqadri hotel zero point ormara

Retrieving Results for Index 66.
Retrieving Results for Index 108.
Retrieving Results for Index 182.
Retrieving Results for Index 287.
Retrieving Results for Index 310.
Retrieving Results for Index 444.

In [79]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [87]:
#figure(layout=FigureLayout(height='420px'))
    
    
    # Convert bank rate to list
hotel_list = hotel_df["Hotel Name"].tolist()

# Create bank symbol layer
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=4,
    #info_box_content=[f"Bank amount: {}" for hotel in hotel_list]
)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

# Add marker layer ontop of heat map
# Create a  Heatmap layer
fig = gmaps.figure()

locations = best_locations[["Lat", "Lng"]].astype(float)
humidity = best_locations["Humidity"].astype(float)


heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

# Display figure


#fig(layout=figurelayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))